Package:	emby
Version:	0.01
Packager:	TFL
Email:
Homepage:	https://emby.media
Description:	Your personal media on any device
Icon:	        emby.png
AddonShowName:	Emby media server
AddonIndexPage:	index.php
AddonUsedPort:	
InstDepend:     entware  
InstConflict:
StartDepend:
StartConflict:
CenterType:
UserControl:
MinFWVer:
MaxFWVer:
IndividualFlag: 0
