Package:	entware
Version:	1.04
Packager:	TFL
Email:
Homepage:	https://github.com/Entware/Entware
Description:	Ultimate repo for embedded devices
Icon:	        entware.png
AddonShowName:	Entware-ng
AddonIndexPage:	
AddonUsedPort:	
InstDepend:
InstConflict:
StartDepend:
StartConflict:
CenterType:
UserControl:
MinFWVer:
MaxFWVer:
IndividualFlag: 0
