Package:		entware
Version:		20.11.17
Packager:		TFL
Email:
Homepage:		https://github.com/Entware/Entware
Description:	Ultimate repo for embedded devices
Icon:	        entware.png
AddonShowName:	Entware
AddonIndexPage: index.html
AddonUsedPort:
InstDepend:
InstConflict:
StartDepend:
StartConflict:
CenterType:		1
UserControl:	0
MinFWVer:
MaxFWVer:
IndividualFlag:	0
