Package:	syncthing
Version:	1.11.1
Packager:	TFL
Email:
Homepage:	https://www.syncthing.net
Description:	Open Source Continuous File Synchronization
Icon:		logo.png
AddonShowName:	Syncthing
AddonIndexPage:	index.php
AddonUsedPort:
InstDepend:	
InstConflict:
StartDepend:
StartConflict:
CenterType:
UserControl:
MinFWVer:
MaxFWVer:
IndividualFlag: 0
