Package:	docker
Version:	19.03.6
Packager:	TFL
Email:
Homepage:	https://docker.com
Description:	Docker container management
Icon:	        docker.png
AddonShowName:	Docker
AddonIndexPage:	index.html
AddonUsedPort:	
InstDepend:      
InstConflict:
StartDepend:
StartConflict:
CenterType:
UserControl:
MinFWVer:
MaxFWVer:
IndividualFlag: 0
