Package:	tautulli
Version:	2.1.18b
Packager:	TFL
Email:
Homepage:	https://tautulli.com
Description:	Monitor your Plex server
Icon:	        tautulli.png
AddonShowName:	Tautulli
AddonIndexPage:	index.html
AddonUsedPort:	
InstDepend:     
InstConflict:
StartDepend:    entware
StartConflict:
CenterType:
UserControl:
MinFWVer:
MaxFWVer:
IndividualFlag: 0
