Package:	zerotier
# renovate: datasource=github-releases depName=zerotier/ZeroTierOne
Version:	1.10.1
Packager:	TFL
Email:
Homepage:	http://www.zerotier.com
Description:	A smart ethernet switch for Earth. Easily create VPNs of any size.
Icon:			zerotier.png
AddonShowName:	ZeroTier
AddonIndexPage:	index.html
AddonUsedPort:
InstDepend:
InstConflict:
StartDepend:
StartConflict:
CenterType: 1
UserControl: 0
MinFWVer:
MaxFWVer:
IndividualFlag: 0
