Package:	nzbget
Version:	2.08
Packager:	TFL
Email:
Homepage:	https://nzbget.net
Description:	The most efficient usenet downloader
Icon:	nzbget.png
AddonShowName:	NZBget
AddonIndexPage:	index.html
AddonUsedPort:
InstDepend:
InstConflict:
StartDepend:
StartConflict:
CenterType:
UserControl:
MinFWVer:
MaxFWVer:
IndividualFlag: 0
