Package:	cops
Version:	20.11.17
Packager:	TFL
Email:
Homepage:	https://github.com/seblucas/cops
Description:	Calibre ebook content server
Icon:	        cops.png
AddonShowName:	COPS
AddonIndexPage:	index.php
AddonUsedPort:	
InstDepend:     
InstConflict:
StartDepend:
StartConflict:
CenterType:
UserControl:
MinFWVer:	5.0.0
MaxFWVer:
IndividualFlag: 0
